.container {
    display: grid;
    grid-template-areas: "eden dva tri"
        "eden dva tri"
        "eden cetiri cetiri";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    
    
    
}

img{
    width: 70%;
}

.container1{
    grid-area: eden;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}
.create{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;

       
}

/*
.write{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}*/

.maintain{
    background-color:hsl(39, 100%, 71%);
     overflow: hidden;
     padding: 20px;
     border-radius: 15px;

}
          

.maintain img{
    height: 100%;
}
.manage{
    background-color: white;
     overflow: hidden;
     padding: 20px;
      border-radius: 15px;
   
     
}

.manage img{
    width: 140%;
}
.zaednicki{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.grow{
    background-color:hsl(256, 67%, 59%);
    display: flex;
    padding: 20px; 
    border-radius: 15px;
    color: white;

}

.grow h2{
   padding: 60px;    
}
.grow img{
    width: 50%;
}

.write{
    display: grid;
    background-color:hsl(39, 100%, 71%);
    padding: 20px;
    border-radius: 15px;
}
.write h1{
margin: 0%;
}
.write img{
    max-width: 90%;
}

.social h1{
    color: white;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:hsl(256, 67%, 59%);
    border-radius: 15px;
    color: white;
    
}
.social h1{
    text-align: center;
}

.container2{
    grid-area: dva;
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}


.container3{
    grid-area: tri;
    background-color:  hsl(254, 88%, 90%);
    display: flex;
   flex-direction: column;
   padding: 30px;
   overflow: hidden;
    border-radius: 15px;
   
}
.container3 img{
    width: 175%;
    height: 50%;
   
    
}

.container4{
    grid-area: cetiri;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
}
.faster{
    background-color: white;
     border-radius: 15px;
}

@media screen and (max-width: 40.625rem) {
   .container{
       grid-template-columns: 1fr;
    grid-template-areas: 
    'dva '
    'tri '
    'cetiri '
    'eden';
}
   

   .zaednicki{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

}
.maintain{
    grid-row: 1;
}

.manage{
    grid-row: 2;
}


.container4{
    display: grid;
    grid-template-columns: 1fr;

}

.grow{
    grid-row: 1;
    min-height: 260px;
}
.faster{
    grid-row: 2;
    min-height: 80px;
}
}






